body,
html {
    font-family: 'Poppins', sans-serif;
}

nav{
    background-color: rgb(241, 217, 241);
}

.container-fluid{
    padding: 100px 0 10px 0;
    color: rgb(31, 30, 30);
} 

.container-fluid h2, .container-fluid p{
    text-align: center;
    color: rgb(31, 30, 30);
}

.col-md-auto{
    padding: 35px;
}


.card-header{
    text-align: center;
    margin-top: 35px;
}

.card-body h4, .list-group, .card-footer{
    text-align: center;
}

.card-body h6{
    text-align: center;
    color: rgb(209, 183, 209);
}
